:root {
  font-size: 16px;
}
.dash-header {
  .menu_icon {
    display: none;
  }
  * {
    overflow: hidden;
  }
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin-left: 70px;
  }
  .dash-nav {
    * {
      font-family: "Lato ", sans-serif;
    }
    width: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .link {
      a {
        padding: 0.1em 1em 0.1em 1em;
      }
    }
  }
}
.dashboard-cover {
  .body {
    .row1 {
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      padding: 1.5em 0.7em 1.5em 0.5em;
    }
    min-height: 100vh;
    * {
      font-family: "Lato ", sans-serif;
    }
    .wrapT {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .wrap-transaction {
      width: 85vw;
      background-color: white;
      min-height: 80vh;
      overflow-y: auto;
    }
    .trans {
      width: 90%;
      display: flex;
      padding: 8px;
      justify-content: space-around;
      align-items: center;
      * {
        padding: 4px;
        text-align: center;
      }
      .type,
      h3 {
        width: 25%;
      }
      h3 {
        color: gray;
      }
      .amount,
      .amount-h {
        width: 25%;
      }
      .status-h {
        width: 100px;
        text-align: center;
      }
      .time,
      .time-h {
        width: 15%;
      }
      .pending {
        color: brown;
        border-radius: 4px;
        background-color: antiquewhite;
        width: 100px;
        text-align: center;
      }
      .confirmed {
        color: blue;
        background-color: aliceblue;
        width: 100px;
        text-align: center;
      }
    }

    .modal {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .deposit-cover {
      * {
        overflow: hidden;
      }
      .address {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: floralwhite;
        padding: 6px;
        border-radius: 4px;
        p {
          overflow-x: auto;
          padding: 6px;
          font-size: 0.65rem;
          color: gray;
          border-radius: 10px;
          background-color: aliceblue;
          width: 70%;
          padding: 0px 4px 0px 4px;
        }
        button {
          border-radius: 30px;
          background-color: white;
          border: none;
          box-shadow: 1px 1px 3px 2px lightgray;
          padding: 4px 6px 4px 6px;
        }
      }
      background-color: white;
      width: 400px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.2em;
      .disp {
        min-height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        * {
          padding: 0px;
          font-size: small;
        }
      }
    }
    .dep-card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 350px;
      height: 250px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    .dep-btn {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .dep-row {
      width: 100%;
    }
    .pb {
      * {
        padding-bottom: 0.7em;
      }
    }
    .body-cover {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-width: 300px;
      min-height: 50vh;
      padding: 3rem 1rem 3rem 88px;
      .row1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 0.7em 1.5em 0.5em;
      }
      .plan-cover,
      .balance-cover,
      .capital-cover {
        .balance_text {
          font-family: "Orbitron", sans-serif;
          min-width: 100px;
          text-align: center;
        }

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .p-text-wrap {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;
          .p-width {
            width: 120px;
            text-align: right;
            padding-left: 15px !important;
          }
          .p-width-1 {
            padding-left: 5px;
            padding-left: 15px !important;
          }
          .p-width-3 {
            padding-left: 15px !important;
            width: 120px;
            text-align: right;
          }
          display: flex;
          padding: 0.5em;
        }
      }
    }
  }
  width: 100vw;
}

.recent_transactions {
  border: 2px solid #e9e5e5;
}

.recent_transaction {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(177, 174, 169, 0.788);
}
.loss {
  color: #9c0817 !important;
}
.gain {
  color: #058605 !important;
}
.recent_heading {
  padding: 1rem;
  font-family: "Poppina", sans-serif;
}
.dashboard_home {
  width: 700px;
  min-width: 200px;
  height: auto;
  background: white;
}
.dashboard_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/**
***library overrides
**/
.tradingview-widget-copyright {
  display: none;
}

/**
***Settings
**/
.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.verify_email_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
.verify_email {
  padding: 7px 20px;
  font-size: 1.2rem;
  color: #555;
  background-color: rgba(204, 204, 204, 0.527);
  border-radius: 10px;
}
/**
***market
**/
.market_wrapper {
  padding: 0 3rem;
}
/**
***referrals
**/
.referrals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.badge {
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge_image_wrapper {
  position: relative;
  width: 300px;
  height: 300px;
}
.badge_image {
  object-fit: contain;
}
.referral_icon {
  color: #333;
}
.refers {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

/**
***documents
**/
.document_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.document_form_container label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
#transfer_document {
  display: none;
}
/**
***news
**/

.news_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}
.economic_calender_heading {
  text-align: center;
  color: #333;
  padding: 1rem;
  font-weight: 400;
}
/**
***exchange
**/
.exchange_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0 5rem;
}
.market_info {
  width: 100%;
  * {
    overflow: hidden;
  }
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.market_widget {
  width: 800px;
  min-width: 300px;
}
.book {
  padding: 0.5rem;
  width: 300px;
  min-width: 290px;
  overflow: auto;
  .book_container {
    max-width: 300px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  span {
    padding: 0 0.2rem 0 0.2rem;
  }
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.book_input_wrapper {
  padding: 10px 0 10px 0;
}
.book_input {
  padding: 3px;
  outline: none;
  border: none;
  background-color: #cccccc9a;
  border-radius: 5px;
}
.book_btn {
  outline: none;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}
.buy {
  background: lime;
}
.sell {
  background: red;
}

table {
  border-collapse: collapse;
  overflow: auto;
  width: 300px;
  th {
    background-color: #ccc;
  }
  * {
    padding: 1rem 1.1rem;
    text-align: center;
  }
}
tbody td:first-child {
  color: red;
}
/**
***notification
**/
.notification_body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.notification_icon_wrapper {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
}
.notification_icon {
  transform: scale(5);
}

/**
***orders
**/

.orders_container {
  padding: 5rem;
}
.orders_icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
}
.orders_icon {
  transform: scale(5);
}
/**
***
**/
/**
***
**/

@media (max-width: 850px) {
  .body-cover {
    width: 100% !important;
  }
  .dashboard_home {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .btn-sec {
    display: none;
  }

  .dash-header {
    .menu_icon {
      display: block;
    }
    .dash-nav {
      justify-content: flex-end;
    }
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 12.3px;
  }
  .body-cover {
    width: 100% !important;
    padding: 3rem 1rem 3rem 75px !important;
  }
  .dashboard_home {
    width: 100%;
  }
  .badge_image_wrapper {
    width: 40%;
    aspect-ratio: 1/1;
  }
  .refers {
    font-size: 1.1rem;
    font-weight: bold;
  }
}
