:root {
  font-size: 16px;
}
.dash-header {
  * {
    overflow: hidden;
  }
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin-left: 70px;
  }
  .dash-nav {
    * {
      font-family: "Lato ", sans-serif;
    }
    width: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .link {
      a {
        padding: 0.1em 1em 0.1em 1em;
      }
    }
  }
}
.dashboard-cover {
  .body {
    .row1 {
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      padding: 1.5em 0.7em 1.5em 0.5em;
    }
    min-height: 100vh;
    * {
      font-family: "Lato ", sans-serif;
    }
    .wrapT {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .wrap-transaction {
      width: 85vw;
      background-color: white;
      min-height: 80vh;
      overflow-y: auto;
    }
    .trans {
      width: 90%;
      display: flex;
      padding: 8px;
      justify-content: space-around;
      align-items: center;
      * {
        padding: 4px;
        text-align: center;
      }
      .type,
      h3 {
        width: 25%;
      }
      h3 {
        color: gray;
      }
      .amount,
      .amount-h {
        width: 25%;
      }
      .status-h {
        width: 100px;
        text-align: center;
      }
      .time,
      .time-h {
        width: 15%;
      }
      .pending {
        color: brown;
        border-radius: 4px;
        background-color: antiquewhite;
        width: 100px;
        text-align: center;
      }
      .confirmed {
        color: blue;
        background-color: aliceblue;
        width: 100px;
        text-align: center;
      }
    }

    .modal {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .deposit-cover {
      * {
        overflow: hidden;
      }
      .address {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: floralwhite;
        padding: 6px;
        border-radius: 4px;
        p {
          overflow-x: auto;
          padding: 6px;
          font-size: 0.65rem;
          color: gray;
          border-radius: 10px;
          background-color: aliceblue;
          width: 70%;
          padding: 0px 4px 0px 4px;
        }
        button {
          border-radius: 30px;
          background-color: white;
          border: none;
          box-shadow: 1px 1px 3px 2px lightgray;
          padding: 4px 6px 4px 6px;
        }
      }
      background-color: white;
      width: 400px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.2em;
      .disp {
        min-height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        * {
          padding: 0px;
          font-size: small;
        }
      }
    }
    .dep-card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 350px;
      height: 250px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    .dep-btn {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .dep-row {
      width: 100%;
    }
    .pb {
      * {
        padding-bottom: 0.7em;
      }
    }
    .body-cover {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: space-around;
      margin-left: 50%;
      transform: translate(-50%);
      width: 100%;
      min-width: 300px;
      min-height: 50vh;
      padding: 3rem;
      .row1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 0.7em 1.5em 0.5em;
      }
      .plan-cover,
      .balance-cover,
      .capital-cover {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ref {
          width: 100%;
        }
        .refer {
          display: flex;
          width: 100%;

          align-items: center;
          .align {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-right: 5px;
            width: 80.5%;
            padding-left: 5px;
            .refl {
              text-align: center;
              width: 500px;
              background-color: wheat;
            }
          }
          .badge {
            display: inline-block;
            width: 65px;
            padding: 1.6px;
            .spref {
              display: inline-block;
              background-color: crimson;
              border-radius: 50%;
              color: white;
              font-family: roboto;
              font-size: xx-small;
              padding: 2px 4px 2px 4px;
            }
          }
        }
        .p-text-wrap {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;
          .p-width {
            width: 120px;
            text-align: right;
            padding-left: 15px !important;
          }
          .p-width-1 {
            padding-left: 5px;
            padding-left: 15px !important;
          }
          .p-width-3 {
            padding-left: 15px !important;
            width: 120px;
            text-align: right;
          }
          display: flex;
          padding: 0.5em;
        }
      }
    }
  }
  width: 100vw;
}

.recent_transactions {
  padding: 15px;
  border: 2px solid #e9e5e5;
  border-radius: 10px;
}

.recent_transaction {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(236, 193, 112, 0.788);
}
.loss {
  color: #9c0817 !important;
}
.gain {
  color: #058605 !important;
}
.recent_heading {
  padding: 1rem;
}
.dashboard_home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  min-width: 300px;
  margin-left: 50%;
  transform: translateX(-50%);
  height: auto;
  background: white;
}
.dashboard_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/**
***library overrides
**/
.tradingview-widget-copyright {
  display: none;
}

/**
***Settings
**/

/**
***market
**/
.market_wrapper {
  padding: 0 3rem;
}

/**
***referrals
**/
.referral_icon {
  transform: scale(5);
  color: #333;
}

/**
***documents
**/

/**
***news
**/

.news_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}
.economic_calender_heading {
  text-align: center;
  color: #333;
  padding: 1rem;
  font-weight: 400;
}
/**
***exchange
**/
.exchange_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
}
.market_info {
  width: 100%;
  * {
    overflow: hidden;
  }
}

/**
***
**/
